@import url(reset.css);

html, body {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(37, 179, 160),rgb(15, 70, 62));
  background-attachment: fixed;
}

.root {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }